--extra-index-url https://download.pytorch.org/whl/cpu
huggingface-hub==0.33.2
joblib==1.5.1
networkx==3.5
numpy==2.3.1
pandas==2.3.1
pillow==11.3.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
scikit-learn==1.7.0
scipy==1.16.0
sentence-transformers==5.0.0
sympy==1.14.0
threadpoolctl==3.6.0
tokenizers==0.21.2
torch==2.7.1
tqdm==4.67.1
transformers==4.53.1